.App {
  text-align: center;
  background-color: #363f4e;
  color: #9ba3b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

.navbar {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Container {
  margin: 10px;
  width: 29vw;
  /* background-color: #444c5f; */
  background: linear-gradient(to right, #444c5f, #394150);
  box-shadow: 0px 5px 20px #00000021;
  border-radius: 15px;
}
.PomodoroContainer {
  height: 150px;
  width: 90vw;
}

.list-item {
  min-height: 40px;
  /* width: 300px; */
  color: #414141;
  background-color: #feffff;
  border-radius: 5px;
  margin: 25px;
  box-shadow: 0px 5px 20px rgb(32, 32, 32);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
