@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
  background-color: #e6e6e6;
  /* color: #c8ccd6; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
}
* {
  font-family: 'Nunito', sans-serif;
}
.top-container {
  display: flex;
  /* justify-items: space-between; */
  align-items: center;
  /* padding: 0 50px 0 50px; */
}

h1 {
  margin: 0;
  font-size: 32px;
  /* color: #c8ccd6; */
}
h2 {
  font-size: 26px;
  /* color: #c8ccd6; */
}

.navbar {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.box {
  background-color: white;
  margin-top: 10px;
  padding: 3px 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgb(32, 32, 32, 0.2);
}

.add-task {
  height: 150px;
}

.Container {
  margin: 10px;
  /* width: 29vw; */
  /* background-color: #444c5f; */
  /* background: linear-gradient(to right, #4e576b, #434b5a); */
  /* box-shadow: 0px 5px 20px #00000021; */
  border-radius: 10px;
}
.PomodoroContainer {
  background-color: white;
  /* margin-top: 20px; */
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #00000021;

  height: 150px;
  /* border: 35px; */
  /* width: 45vw; */
  /* margin-right: 50px; */
}
.dash-title {
  padding-top: 0;
  padding-bottom: 20px;
}
.pomo-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 80%;
}
.pomo-controles {
  display: flex;
  /* flex-direction: column; */
}

.progressbar {
  width: 80px;
  height: 80px;
}

.PomodoroContainer * {
  margin: 0 20px 0 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
